commit fd2ff6f298af86d2c676d4c299e8f712f369890a
Author: anshikaphul1 <anshikaphul1@gmail.com>
Date:   Wed Mar 6 11:27:06 2024 +0530

    third commit c file is modified

commit 4169a1ddecba459b7f7e848da61d1c026ca80b68
Author: anshikaphul1 <anshikaphul1@gmail.com>
Date:   Wed Mar 6 11:25:58 2024 +0530

    second commit html file is modified

commit f43daf96c15e2b781478d0f392981a2264059752
Author: anshikaphul1 <anshikaphul1@gmail.com>
Date:   Wed Mar 6 11:24:42 2024 +0530

    first commit added content to all the three files
